extends ../layout/layout.pug

block title
    title Trang chủ

block main
    main.home.container
        .intro.text-center.mb-5.pb-5
            h1.title.mb-4 WELCOME TO 
                br 
                | CAMBRIDGE
            p.sub-title.mb-4.pb-3 Your Ultimate Health Care Provider
            .slide 
                img(src="../asset/images/slide1.webp", width="940", height="525")
        .about.text-center.mb-5.pb-5
            h2.title.mb-4 HOSPITAL FACILITIES
            p Looking for a place that feels like home? With Long Term Rooms and Operating Rooms that will exceed your expectations, Cambridge has everything you may possibly need to keep you feeling strong while you are led down the path to good health. Read about our facilities below, and all the care that has gone into creating our advanced medical center.
        .post.mb-5.pb-5
            