-
    menuLinks = [
        {name: "Home", link: "index.html"},
        {name: "About", link: "about.html"},
        {name: "Our Services", link: "services.html"},
        {name: "Facilities", link: "facilities.html"},
        {name: "Department", link: "department.html"},
        {name: "Academic", link: "academic.html"},
        {name: "Vacancies", link: "vacancies.html"},
        {name: "Contact", link: "contact.html"},
        {name: "More", link: "more.html"},
    ]
