-
    menuLinks = [
        {name: "Home", link: "index.html"},
        {name: "About", link: "about.html"},
        {name: "Our Services", link: "services.html"},
        {name: "Facilities", link: "facilities.html"},
        {name: "Department", link: "department.html"},
        {name: "Academic", link: "academic.html"},
        {name: "Vacancies", link: "vacancies.html"},
        {name: "Contact", link: "contact.html"},
        {name: "More", link: "more.html"},
    ]

-
    homePosts = [
        {
            title: "LONG TERM ROOMS",
            image: "../asset/images/post1.webp",
            content: "Our medical facilities combine state-of -the-art technology with patient-centered design. A trip to the hospital can be worrisome, but with our advanced Long Term Rooms, you will see what great hands you are in. Our facilities meet the highest standards of cleanliness and sterility. Get in touch with us today to learn more about our Hospital facilities."
        },
        {
            title: "OPERATING ROOMS",
            image: "../asset/images/post2.webp",
            content: "Our Operating Rooms offer a warm environment that fosters innovation, strives for excellence, nurtures respect for others, and ensures accountability in delivering world-class care to our patients. Care to learn more about our Operating Rooms? Get in touch with us today to hear more about what we can do for you and your family."
        },
        {
            title: "WAITING AREAS",
            image: "../asset/images/post3.webp",
            content: "Cambridge is a Hospital that has been providing convenient, affordable healthcare to the area it serves since 2023. Our outstanding and well equipped medical facilities have allowed us to excel at what we do, and become one of the most well known hospitals in New York. Patients and visitors all find the true benefit in our Waiting Areas, and recommend our medical facilities to all."
        },
    ]

-
    slideItems = [
        {
            title: "Nurse Checking Girl",
            image: "../asset/images/slide1.webp",
            link: "#"
        },
        {
            title: "Doctor Using Digital Tablet",
            image: "../asset/images/slide2.webp",
            link: "#"
        },
        {
            title: "Chart And Stelthoscope",
            image: "../asset/images/slide3.webp",
            link: "#"
        },
    ]
