-
    menuLinks = [
        {name: "Home", link: "index.html"},
        {name: "About", link: "about.html"},
        {name: "Our Services", link: "services.html"},
        {name: "Facilities", link: "facilities.html"},
        {name: "Department", link: "department.html"},
        {name: "Academic", link: "academic.html"},
        {name: "Vacancies", link: "vacancies.html"},
        {name: "Contact", link: "contact.html"},
        {name: "Centers", link: "centers.html"},
    ]

-
    homePosts = [
        {
            title: "LONG TERM ROOMS",
            image: "../asset/images/post1.webp",
            content: "Our medical facilities combine state-of -the-art technology with patient-centered design. A trip to the hospital can be worrisome, but with our advanced Long Term Rooms, you will see what great hands you are in. Our facilities meet the highest standards of cleanliness and sterility. Get in touch with us today to learn more about our Hospital facilities."
        },
        {
            title: "OPERATING ROOMS",
            image: "../asset/images/post2.webp",
            content: "Our Operating Rooms offer a warm environment that fosters innovation, strives for excellence, nurtures respect for others, and ensures accountability in delivering world-class care to our patients. Care to learn more about our Operating Rooms? Get in touch with us today to hear more about what we can do for you and your family."
        },
        {
            title: "WAITING AREAS",
            image: "../asset/images/post3.webp",
            content: "Cambridge is a Hospital that has been providing convenient, affordable healthcare to the area it serves since 2023. Our outstanding and well equipped medical facilities have allowed us to excel at what we do, and become one of the most well known hospitals in New York. Patients and visitors all find the true benefit in our Waiting Areas, and recommend our medical facilities to all."
        },
    ]

-
    slideItems = [
        {
            title: "Nurse Checking Girl",
            image: "../asset/images/slide1.webp",
            link: "#"
        },
        {
            title: "Doctor Using Digital Tablet",
            image: "../asset/images/slide2.webp",
            link: "#"
        },
        {
            title: "Chart And Stelthoscope",
            image: "../asset/images/slide3.webp",
            link: "#"
        },
    ]

-
    aboutItem = [
        {
            title: "About Us",
            content: "Since 2023, Cambridge has earned a reputation for being one of the leading health care providers in the New York area. Committed to many more years of excellence, our highly trained, board-certified staff are here to pave the way for quality treatment and care as soon as you walk through our doors.",
            image: "../asset/images/slide1.webp"
        }
    ]

-
    services = [
        {
            title: "NURSING SERVICE",
            image: "../asset/images/service1.webp",
            name: "A Happier, Healthier You",
            des: "Keep yourself and your loved ones healthy! Our friendly and experienced staff will make sure you always feel comfortable and well-informed. Schedule this service today or feel free to stop by anytime."
        },
        {
            title: "ACCOMMODATION",
            image: "../asset/images/service2.webp",
            name: "Here For You",
            des: "Our professional team is here to guide our patients and their families every step of the way throughout their health journeys. Schedule this service today to ensure that you’re ready for what’s ahead."
        },
        {
            title: "LABORATORY & DIAGNOSTIC PROCEDURE",
            image: "../asset/images/service3.webp",
            name: "Quality Care",
            des: "Each of our patients are eligible for this personalized service. Schedule yours today, and we promise you’ll leave our clinic well-informed and confident that your health is in the best of hands."
        },
    ]

- 
    facilities = [
        {
            title: "LONG TERM ROOMS",
            content: "Our Long Term Rooms offer a warm environment that fosters innovation, strives for excellence, nurtures respect for others, and ensures accountability in delivering world-class care to our patients. Care to learn more about our Long Term Rooms? Get in touch with us today to hear more about what we can do for you and your family.",
            image: "../asset/images/facility1.webp"
        },
        {
            title: "OPERATING ROOMS",
            content: "Cambridge is a Hospital that has been providing convenient, affordable healthcare to the area it serves since 2023. Our outstanding and well equipped medical facilities have allowed us to excel at what we do, and become one of the most well known hospitals in New York. Patients and visitors all find the true benefit in our Operating Rooms, and recommend our medical facilities to all.",
            image: "../asset/images/facility2.webp"
        },
        {
            title: "WAITING AREAS",
            content: "Our medical facilities combine state-of -the-art technology with patient-centered design. A trip to the hospital can be worrisome, but with our advanced Waiting Areas, you will see what great hands you are in. Our facilities meet the highest standards of cleanliness and sterility. Get in touch with us today to learn more about our Hospital facilities.",
            image: "../asset/images/facility3.webp"
        },
    ]

- 
    doctors = [
        {
            name: "REESE WHITEMAN",
            role: "Chairman",
            des: "Reese Whiteman is truly a valued member of the Cambridge family, initiating, organizing, and promoting new medical programs for our staff and patients.",
            image: "../asset/images/human1.webp"
        },
        {
            name: "JAMIE LANE",
            role: "Vice Chairman",
            des: "Jamie Lane has worked in the field of public health administration for many years. We are so lucky to have such a wonderful Vice Chairman that cares about the future of our Hospital.",
            image: "../asset/images/human2.webp"
        },
        {
            name: "DREW CARLYLE",
            role: "Treasurer",
            des: "Drew Carlyle brings decades of experience in hospital administration to the table. He is passionate about transparency and accountability. There really couldn’t be a more dedicated Treasurer.",
            image: "../asset/images/human3.webp"
        },
    ]

-
    faqs = [
        {
            title: "DO YOU OFFER EMERGENCY CARE SERVICES?",
            content: "Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer."
        },
        {
            title: "WHAT KINDS OF INSURANCE DO YOU ACCEPT?",
            content: "Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer."
        },
        {
            title: "HOW DO I PAY MY BILL?",
            content: "Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer."
        },
    ]
